h1,h2,h3{
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: grey;
}
/* Ensure the body and html elements take up full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Content should expand to fill the available space */
.content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}
/* Footer styling */
footer {
  clear: both;
  position: fixed;
  bottom:0;
  width: 100%;
  margin-top: auto;
  padding-left:5%;
  padding-right: 5%;
  margin-bottom: 5vh;
  color: white;
}